body {
    padding-top: 130px;
}

#site-navbar {
    z-index: 100;
}

#site-navbar * {
    z-index: 100;
}

#portofolio-navbar {
    margin-top: 50px;
    z-index: 50;
}

#site-navbar * {
    z-index: 50;
}

.portofolio-section {
    min-width: 85vw;
    min-height: 60vh;
    cursor: pointer;
    text-align: justify;
}

.portofolio-tile-section {
    width: 85vh;
    min-height: 60vh;
}

.portofolio-tile {
    position: relative;
    width: 25vh;
    display: inline-block;
    margin-top: 5px;
}

.portofolio-tile-text {
    position: absolute;
    display: none;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: orange;
}

.portofolio-tile-image {
    width: 25vh;
    height: 25vh;
    z-index: 100;
    transition: all 0.3s ease;
}

.portofolio-tile-image:hover {
    opacity: 0.1;
    cursor: pointer;
}

.portofolio-tile-image:hover ~ .portofolio-tile-text {
    display: inline-block;
}

.portofolio-tile-text:hover {
    display: inline-block;
    cursor: pointer;
}