.sticky-sidebar {
    position: fixed;
    top: 0;
    width: 25%;
}

.sticky-header {
    position: fixed;
    top: 0;
    width: 75%;
    z-index: 9999 !important;
    background-color: #2B3E50;
}

.sticky-header-sidebar-collapsed {
    width: 100% !important;
}

.sticky-offset-main-column {
    margin-left: 25%;
}

#row-main {
    overflow-x: hidden;
}

#sidebar-column {
    min-height: 100vh;
    padding: 0;
    border-right-style: solid;
}

.sidebar-header {
    width: 100%;
}

.nav-link {
    color: #fff;
}

#main-column {
    padding: 5px 0 15px;
}

#main-header {
    border-bottom-style: solid;
}

.sidebarButton {
    float: left;
    margin: 5px;
}

.header-text {
    text-align: right;
    padding-right: 10px;
}

#content {
    padding: 10px;
    transition: all 0.5s ease;
}

.portofolio-tile {
    position: relative;
    width: 23vw;
    display: inline-block;
    margin-top: 5px;
}

.portofolio-tile-text {
    position: absolute;
    display: none;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: orange;
}

.portofolio-tile-image {
    width: 23vw;
    height: 23vw;
    z-index: 100;
    transition: all 0.3s ease;
}

.portofolio-tile-image:hover {
    opacity: 0.1;
    cursor: pointer;
}

.portofolio-tile-image:hover ~ .portofolio-tile-text {
    display: inline-block;
}

.portofolio-tile-text:hover {
    display: inline-block;
    cursor: pointer;
}

.portofolio-tile-extra-left {
    margin-left: 20px;
}