body {
    padding-top: 130px;
}

#site-navbar {
    z-index: 100;
}

#site-navbar * {
    z-index: 100;
}

#message-board-navbar {
    margin-top: 50px;
    z-index: 50;
}

#message-board-navbar * {
    z-index: 50;
}

#portofolio-navbar {
    margin-top: 50px;
    z-index: 50;
}

#portofolio-navbar * {
    z-index: 50;
}

.no-href-anchor {
    cursor: pointer;
}

.portofolio-section {
    min-width: 85vw;
    min-height: 60vh;
    cursor: pointer;
    text-align: justify;
}

.portofolio-tile-section {
    width: 85vh;
    min-height: 60vh;
}

.portofolio-tile {
    position: relative;
    width: 25vh;
    display: inline-block;
    margin-top: 5px;
}

.portofolio-tile-text {
    position: absolute;
    display: none;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: orange;
}

.portofolio-tile-image {
    width: 25vh;
    height: 25vh;
    z-index: 100;
    transition: all 0.3s ease;
}

.portofolio-tile-image:hover {
    opacity: 0.1;
    cursor: pointer;
}

.portofolio-tile-image:hover ~ .portofolio-tile-text {
    display: inline-block;
}

.portofolio-tile-text:hover {
    display: inline-block;
    cursor: pointer;
}

.jumbotron p {
    text-align: justify;
}

.ps-title {
    text-align: center;
}

.ps-section-image {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.ps-section-image.left {
    float: left;
}

.ps-section-image.right {
    float: right;
}

.skills-list.left {
    text-align: left;
}

.skills-list.right {
    text-align: right;
}

.contact-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.centered-container {
    text-align: center;
    padding: 10px;
}

.message-board-modal {
    margin-left: 30vw;
    position: fixed;
    display: none;
}

.float-right {
    margin-top: -20px;
    float: right;
}