@()

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href=@routes.Assets.at("stylesheets/bootstrap.min.css")>
        <link rel="stylesheet" href=@routes.Assets.at("stylesheets/bootstrap-darkly.min.css")>
        <link rel="stylesheet" href=@routes.Assets.at("stylesheets/main.css")>
        <link rel="stylesheet" href=@routes.Assets.at("stylesheets/resume.css")>
        <title>Pande Ketut Cahya Nugraha</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" id="site-navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@routes.PortofolioController.portofolioPage()"><strong><em>Pande Ketut Cahya Nugraha</em></strong></a>
                </div>
            
                <div class="collapse navbar-collapse" id="site-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@routes.PortofolioController.portofolioPage()">Portofolio</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Apps <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Blog (Coming Soon!)</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="@routes.MessageBoardController.messageBoardPage()">Message Board</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">To-Do List (Still in development)</a></li>
                    </ul>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acknowledgement <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>Bootstrap by Twitter</a></li>
                        <li><a>Bootstrap Theme by Thomas Park</a></li>
                        <li><a>Icon by Freefix</a></li>
                    </ul>
                    </li>
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <nav class="navbar navbar-default navbar-fixed-top" id="portofolio-navbar">
            <div class="container-fluid" style="z-index: 100;">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#portofolio-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand no-href-anchor" onclick="showPortofolioSection(0)"><strong><em>Portofolio</em></strong></a>
                </div>
            
                <div class="collapse navbar-collapse" id="portofolio-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="no-href-anchor" onclick="showPortofolioSection(0)">Tiles</a></li>
                    <li><a class="no-href-anchor" onclick="showPortofolioSection(1)">Introduction</a></li>
                    <li><a class="no-href-anchor" onclick="showPortofolioSection(2)">Basic Info</a></li>
                    <li><a class="no-href-anchor" onclick="showPortofolioSection(3)">Interests</a></li>
                    <li><a class="no-href-anchor" onclick="showPortofolioSection(4)">Skills</a></li>
                    <li><a class="no-href-anchor" onclick="showPortofolioSection(5)">Education</a></li>
                    <li><a class="no-href-anchor" onclick="showPortofolioSection(6)">Work Experiences</a></li>
                    <li><a class="no-href-anchor" onclick="showPortofolioSection(7)">Awards</a></li>
                    <li><a class="no-href-anchor" onclick="showPortofolioSection(8)">Volunteer Experiences</a></li>
                    <li><a class="no-href-anchor" onclick="showPortofolioSection(9)">Contact</a></li>
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <section class="container portofolio-tile-section" id="ps-0">
            <div class="portofolio-tile" id="pt-1" onclick="showPortofolioSection(1)">
                <img class="portofolio-tile-image" src=@routes.Assets.at("images/portofolio-tiles-1.jpeg") draggable="false">
                <div class="portofolio-tile-text"><a><strong>Introduction</strong></a></div>
            </div>
            <div class="portofolio-tile" id="pt-2" onclick="showPortofolioSection(2)">
                <img class="portofolio-tile-image" src=@routes.Assets.at("images/portofolio-tiles-2.jpeg") draggable="false">
                <div class="portofolio-tile-text"><a><strong>Basic Info</strong></a></div>
            </div>
            <div class="portofolio-tile" id="pt-3" onclick="showPortofolioSection(3)">
                <img class="portofolio-tile-image" src=@routes.Assets.at("images/portofolio-tiles-3.jpeg") draggable="false">
                <div class="portofolio-tile-text"><a><strong>Interests</strong></a></div>
            </div>
            <div class="portofolio-tile" id="pt-4" onclick="showPortofolioSection(4)">
                <img class="portofolio-tile-image" src=@routes.Assets.at("images/portofolio-tiles-4.jpeg") draggable="false">
                <div class="portofolio-tile-text"><a><strong>Skills</strong></a></div>
            </div>
            <div class="portofolio-tile" id="pt-5" onclick="showPortofolioSection(5)">
                <img class="portofolio-tile-image" src=@routes.Assets.at("images/portofolio-tiles-5.jpeg") draggable="false">
                <div class="portofolio-tile-text"><a><strong>Education</strong></a></div>
            </div>
            <div class="portofolio-tile" id="pt-6" onclick="showPortofolioSection(6)">
                <img class="portofolio-tile-image" src=@routes.Assets.at("images/portofolio-tiles-6.jpeg") draggable="false">
                <div class="portofolio-tile-text"><a><strong>Work Experiences</strong></a></div>
            </div>
            <div class="portofolio-tile" id="pt-7" onclick="showPortofolioSection(7)">
                <img class="portofolio-tile-image" src=@routes.Assets.at("images/portofolio-tiles-7.jpeg") draggable="false">
                <div class="portofolio-tile-text"><a><strong>Awards</strong></a></div>
            </div>
            <div class="portofolio-tile" id="pt-8" onclick="showPortofolioSection(8)">
                <img class="portofolio-tile-image" src=@routes.Assets.at("images/portofolio-tiles-8.jpeg") draggable="false">
                <div class="portofolio-tile-text"><a><strong>Volunteer Experiences</strong></a></div>
            </div>
            <div class="portofolio-tile" id="pt-9" onclick="showPortofolioSection(9)">
                <img class="portofolio-tile-image" src=@routes.Assets.at("images/portofolio-tiles-9.jpeg") draggable="false">
                <div class="portofolio-tile-text"><a><strong>Contact</strong></a></div>
            </div>
        </section>
    
        <section class="container portofolio-section" id="ps-1" onclick="showPortofolioSection(0)">
            <div class="jumbotron">
                <h1 class="ps-title"><strong>Introduction</strong></h1>
                <h2>
                    Hey there! My name is Pande Ketut Cahya Nugraha, and i'm currently an Undergraduate
                    Student of Computer Science at Universitas Indonesia. My primary interest is Programming 
                    (Back-end, Game Dev, and AI in particular), and gaming.
                </h2>
            </div>
        </section>

        <section class="container portofolio-section" id="ps-2" onclick="showPortofolioSection(0)">
            <div class="jumbotron">
                <h1 class="ps-title"><strong>Basic Info</strong></h1>
                <p>
                    Full Name        : Pande Ketut Cahya Nugraha<br>
                    Nickname         : Cahya<br>
                    Current Address	 : Jl. Masjid Al-Farouq No. 46 RT. 1/RW. 1, Kukusan, Beji, Depok<br>
                    Birth            : Denpasar, 12 April 1999<br>
                    Motto            : <em>Privus, Consuete, Graucus</em><br>
                </p>
            </div>
        </section>

        <section class="container portofolio-section" id="ps-3" onclick="showPortofolioSection(0)">
            <div class="jumbotron">
                <h1 class="ps-title"><strong>Interests</strong></h1>
                <h2><em>Programming</em></h2><br>
                <img class="ps-section-image left" src=@routes.Assets.at("images/programming.png")>
                <p>
                I first encounter programming at 7th Grade in Junior High School. I was part of the school Computer
                Club, and there i learn to write my first "Hello World" program, using Pascal. I also created some
                programs like calculator and mini-games. However, i quit the Club on 8th Grade due to grades
                problems (the coach didn't report my extracurricular grade to the homeroom teacher).
                </p>
                <p>
                I later rediscovered programming at my High School. I joined the programming Club and unexpectedly
                become the representative of my school at OSK, OSP, and OSN Informatika 2015 and 2016. My archievements
                at OSN paved my way to Universitas Indonesia.
                </p>
                <br>
                <h2><em>Gaming</em></h2><br>
                <img class="ps-section-image left" src=@routes.Assets.at("images/gaming.png")>
                <p>
                I am addicted to gaming since Elementary School. It peaked at Junior High School, where i can spend
                more than 6 hours gaming a day. However, since High School my gaming frequency lowers due to outdated
                PC and other activities.
                </p>
            </div>
        </section>

        <section class="container portofolio-section" id="ps-4" onclick="showPortofolioSection(0)">
            <div class="jumbotron">
                <h1 class="ps-title"><strong>Skills</strong></h1>
                <ul class="list-unstyled skills-list left">
                    <li><h3>Java</h3></li>
                    <li><h3>Python</h3></li>
                    <li><h3>C++</h3></li>
                    <li><h3>HTML</h3></li>
                    <li><h3>CSS</h3></li>
                </ul>
                <ul class="list-unstyled skills-list right">
                    <li><h3>Spring JPA</h3></li>
                    <li><h3>Spring Web</h3></li>
                    <li><h3>MySQL</h3></li>
                    <li><h3>Play Framework</h3></li>
                </ul>
            </div>
        </section>

        <section class="container portofolio-section" id="ps-5" onclick="showPortofolioSection(0)">
            <div class="jumbotron">
                <h1 class="ps-title"><strong>Education</strong></h1>
                <div class="container centered-container">
                    <img class="ps-section-image left" src=@routes.Assets.at("images/universitas.png")>
                    <h2>Universitas Indonesia / S. Kom</h2>
                    <h3>July 2017 - Present  Depok</h3>
                </div>

                <div class="container centered-container">
                    <img class="ps-section-image right" src=@routes.Assets.at("images/sma.png")>
                    <h2>SMAN 3 Denpasar / High School Diploma</h2>
                    <h3>July 2014 - May 2017,  Denpasar</h3>
                    <br>
                </div>

                <div class="container centered-container">
                    <img class="ps-section-image left" src=@routes.Assets.at("images/smp.png")>
                    <h2>SMPN 3 Denpasar / Junior High School</h2>
                    <h3>July 2011 - June 2014,  Denpasar</h3>
                </div>

                <div class="container centered-container">
                    <img class="ps-section-image right" src=@routes.Assets.at("images/sd.png")>
                    <h2>SDN 3 Denpasar / Elementary School</h2>
                    <h3>July 2005 - June 2011,  Denpasar</h3>
                </div>
            </div>
        </section>

        <section class="container portofolio-section" id="ps-6" onclick="showPortofolioSection(0)">
            <div class="jumbotron">
                <h1 class="ps-title"><strong>Work Experiences</strong></h1>
                <div class="container">
                    <img class="ps-section-image left" src=@routes.Assets.at("images/gdp.png")>
                    <h2>GDP LABS / Software Engineer Intern</h2>
                    <h3>January 2018 - Denpasar</h3>
                    <p><br>
                        Developing Game Chatbot for Kaskus Chat to engage more users with 2 other interns.<br>
                        Responsible for designing database, creating services for registration and administrator functionalities.<br>
                        Technologies used : Java, Spring Web, Spring JPA, MySQL, Flyway
                    </p>
                </div>
            </div>
        </section>

        <section class="container portofolio-section" id="ps-7" onclick="showPortofolioSection(0)">
            <div class="jumbotron">
                <h1 class="ps-title"><strong>Awards</strong></h1>
                <ul class="list-unstyled">
                    <li>
                        <h2>Finalist, The 2017 ACM-ICPC Asia Jakarta Regional Contest</h2>
                        <h3>November 2017, Jakarta | ACM-ICPC</h3>
                    </li>
                    <li>
                        <h2>Top 16 TOKI 2017</h2>
                        <h3>October 2016, Bandung | Tim Olimpiade Komputer Indonesia</h3>
                    </li>
                    <li>
                        <h2>Silver Medal, OSN Informatika 2016</h2>
                        <h3>May 2016, Indonesia National Informatics Olympiad</h3>
                    </li>
                    <li>
                        <h2>First Place, Informatics Olympiad Bali Logic and Computer Competition</h2>
                        <h3>March 2016, Faculty of Mathematics and Natural Science, University of Udayana</h3>
                    </li>
                    <li>
                        <h2>Second Place, Programming Category Information Technology Creative Competition</h2>
                        <h3>November 2015, Faculty of Engineering, University of Udayana</h3>
                    </li>
                    <li>
                        <h2>Bronze Medal, OSN Informatika 2015</h2>
                        <h3>May 2015, Indonesia National Informatics Olympiad</h3>
                    </li>
                <ul>
            </div>
        </section>

        <section class="container portofolio-section" id="ps-8" onclick="showPortofolioSection(0)">
            <div class="jumbotron">
                <h1 class="ps-title"><strong>Volunteer Experiences</strong></h1>
                <div class="container">
                    <h1>Organization</h1>
                    <img class="ps-section-image left" src=@routes.Assets.at("images/bem.png")>
                    <h2>Staff of Department of Student Welfare Advocacy, Student Executive Board Fasilkom UI 2018</h2>
                    <h3>February 2018 – Present, Depok</h3>
                </div>
                <br>
                <div class="container">
                    <h1>Committe</h1>
                    <h2>Staff of Equipment Division (Staf Perlengkapan), 12th Hindu for Generation</h2>
                    <h3>Oct 2017 – Nov 2017, Depok</h3>
                    <p>Staff of Equipment Division (Staf Perlengkapan) at 12th Hindu for Generation
                    , an annual event by KMHD UI to promote Hindu students existence.</p>
                    <br>
                    <h2>Vice PIC of Equipment Division, TOS UI Bali 2018</h2>
                    <h3>Dec 2017 – Jan 2018</h3>
                    <p>Vice PIC of Equipment Division (WaPJ Perlengkapan) at TOS UI Bali 2018
                    , a mock exam of SBMPTN for high school students in Bali.</p>
                </div>
            </div>
        </section>

        <section class="container portofolio-section" id="ps-9" onclick="showPortofolioSection(0)">
            <div class="jumbotron">
                <h1 class="ps-title"><strong>Contact</strong></h1>
                <h3>Phone       : (+62) 819-9974-9715</h3>
                <h3>Email       : cahyanugraha12@@gmail.com</h3>
                <div class="container centered-container">
                    <a href="https://www.facebook.com/cahyanugraha120499" target="_blank"><img class="contact-icon" src=@routes.Assets.at("images/facebook.png") draggable="false"></a>
                    <a href="https://www.twitter.com/cahyanugraha12" target="_blank"><img class="contact-icon" src=@routes.Assets.at("images/twitter.png") draggable="false"></a>
                    <a href="https://www.instagram.com/cahyanugraha12" target="_blank"><img class="contact-icon" src=@routes.Assets.at("images/instagram.png") draggable="false"></a>
                    <a href="https://www.linkedin.com/in/cahyanugraha12" target="_blank"><img class="contact-icon" src=@routes.Assets.at("images/linkedin.png") draggable="false"></a>
                </div>
            </div>
        </section>
        
        <script src=@routes.Assets.at("javascripts/jquery-3.2.1.min.js")></script>
        <script src=@routes.Assets.at("javascripts/popper.min.js")></script>
        <script src=@routes.Assets.at("javascripts/bootstrap.min.js")></script>
        <script src=@routes.Assets.at("javascripts/resume.js")></script>
        <script src=@routes.Assets.at("javascripts/messageboard.js")></script>
    </body>
</html>