@()

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href=@routes.Assets.versioned("stylesheets/bootstrap.min.css")>
        <link rel="stylesheet" href=@routes.Assets.versioned("stylesheets/bootstrap-superhero.min.css")>
        <link rel="stylesheet" href=@routes.Assets.versioned("stylesheets/main.css")>
        <link rel="stylesheet" href=@routes.Assets.versioned("stylesheets/resume.css")>
        <title></title>
    </head>
    <body>
        <div class="container-fluid">
            <div id="row-main" class="row">
                <div id="sidebar-column" class="col-sm-3 navbar-fixed-top navbar-expand-lg navbar-dark bg-primary">
                    <nav id="sidebar card text-white bg-primary">
                        <div class="sidebar-header card-header">
                            <h3>Sidebar</h3>
                        </div>
            
                        <ul class="list-unstyled components">
                            <li class="nav-item active"><a class="nav-link" href="https://cahya-nugraha.herokuapp.com">Portofolio</a></li>
                            <li class="nav-item">
                                <a class="nav-link" href="#myApps" data-toggle="collapse" aria-expanded="false">My Apps</a>
                                <ul class="collapse" id="myApps">
                                    <li><a class="nav-link" href="#">Blog (Coming Soon!)</a></li>
                                    <li><a class="nav-link" href="#">Message Board (Coming Soon!)</a></li>
                                    <li><a class="nav-link" href="todo-list-cahya.herokuapp.com" target="_blank">To-Do List</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div id="main-column" class="col-sm-9">
                    <header class="navbar-fixed-top navbar-expand-lg navbar-dark" id="main-header">
                        <h1 class="header-text"><strong><em>Pande Ketut Cahya Nugraha</em></strong></h1>
                    </header>
                    <div id="content">
                        <div class="portofolio-tile portofolio-tile-extra-left" onclick="showIntroduction()">
                            <img class="portofolio-tile-image" src=@routes.Assets.versioned("images/portofolio-tiles-1.jpeg")>
                            <div class="portofolio-tile-text"><a><strong>Introduction</strong></a></div>
                        </div>
                        <div class="portofolio-tile" onclick="showBasicInfo()">
                            <img class="portofolio-tile-image" src=@routes.Assets.versioned("images/portofolio-tiles-2.jpeg")>
                            <div class="portofolio-tile-text"><strong>Basic Info</strong></div>
                        </div>
                        <div class="portofolio-tile" onclick="showInterests()">
                            <img class="portofolio-tile-image" src=@routes.Assets.versioned("images/portofolio-tiles-3.jpeg")>
                            <div class="portofolio-tile-text"><strong>Interests</strong></div>
                        </div>
                        <br/>
                        <div class="portofolio-tile portofolio-tile-extra-left" onclick="showSkills()">
                            <img class="portofolio-tile-image" src=@routes.Assets.versioned("images/portofolio-tiles-4.jpeg")>
                            <div class="portofolio-tile-text"><strong>Skills</strong></div>
                        </div>
                        <div class="portofolio-tile" onclick="showEducation()">
                            <img class="portofolio-tile-image" src=@routes.Assets.versioned("images/portofolio-tiles-5.jpeg")>
                            <div class="portofolio-tile-text"><strong>Education</strong></div>
                        </div>
                        <div class="portofolio-tile" onclick="showWorkExperiences()">
                            <img class="portofolio-tile-image" src=@routes.Assets.versioned("images/portofolio-tiles-6.jpeg")>
                            <div class="portofolio-tile-text"><strong>Work Experiences</strong></div>
                        </div>
                        <br>
                        <div class="portofolio-tile portofolio-tile-extra-left" onclick="showArchievementsAndAwards()">
                            <img class="portofolio-tile-image" src=@routes.Assets.versioned("images/portofolio-tiles-7.jpeg")>
                            <div class="portofolio-tile-text"><strong>Archievement and Awards</strong></div>
                        </div>
                        <div class="portofolio-tile" onclick="showOrganizationsAndVolunteerExperiences()">
                            <img class="portofolio-tile-image" src=@routes.Assets.versioned("images/portofolio-tiles-8.jpeg")>
                            <div class="portofolio-tile-text"><strong>Organizations Volunteer Experience</strong></div>
                        </div>
                        <div class="portofolio-tile" onclick="showContact()">
                            <img class="portofolio-tile-image" src=@routes.Assets.versioned("images/portofolio-tiles-9.jpeg")>
                            <div class="portofolio-tile-text"><strong>Contact</strong></div>
                        </div>
                        <br>
                    </div>
                    <footer class="footer card-footer">
                        <span>
                            <strong>Developed by Pande Ketut Cahya Nugraha</strong>
                        </span>
                        <br/>
                        <small>Bootstrap by Twitter | Superhero Theme by Thomas Park</small>
                    </footer>
                </div>
            </div>
        </div>
        
        <script src=@routes.Assets.versioned("javascripts/jquery-3.2.1.slim.min.js")></script>
        <script src=@routes.Assets.versioned("javascripts/popper.min.js")></script>
        <script src=@routes.Assets.versioned("javascripts/bootstrap.min.js")></script>
        <script src=@routes.Assets.versioned("javascripts/main.js")></script>
        <script src=@routes.Assets.versioned("javascripts/resume.js")></script>
    </body>
</html>